{% extends "layout.html" %}

{% block title %}
Projetos
{% endblock %}

{% block main %}

<div>
    <table style="width:100%">
        <thead>
            <tr>
                <th class="text-start">
                    <h1>Projetos:</h1>
                </th>
                <th class="text-end"><a class="btn btn-primary" href="/project?go=project">Novo Projeto</a></th>
            </tr>
        </thead>
    </table>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Nome</th>
                <th class="text-start">Cliente</th>
                <th class="text-end">Data de Criação</th>
                <th class="text-end">Data de Modificação</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td class="text-start"><a href="/diagram?id={{project.id}}">{{ project.name }}</a></td>
                <td class="text-start"> {% if project.customerName %} {{project.customerName}} {% endif %} </td>
                <td class="text-end">{{ project.createddate }}</td>
                <td class="text-end">{{ project.modifieddate }}</td>
                <td class="text-end"><a href="/duplicate?id={{project.id}}&ob=project">duplicar</a></td>
                <td class="text-end"><a href="/project?id={{project.id}}&go=project">editar</a></td>
            </tr>
            {% endfor %}

        </tbody>

    </table>



</div>
{% endblock %}