<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <!-- http://getbootstrap.com/docs/5.1/ -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

    <link href="/static/favicon.ico" rel="icon">

    <link href="/static/styles.css" rel="stylesheet">

    <title>GEE: {% block title %}{% endblock %}</title>

</head>

<body>

    <nav class="bg-light border navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><span> <img class="logo" alt="HTML Logo"
                src="{{url_for('static', filename='GEE_Logo_sm.jpg')}}"> </span></a>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session["user_id"] %}
                <ul class="navbar-nav me-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/">Projetos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/customers">Clientes</a></li>
                    <li class="nav-item"><a class="nav-link" href="/profiles">Perfis</a></li>
                </ul>
                <ul class="navbar-nav ms-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/user">{{ session["username"] }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                </ul>
                {% else %}
                <ul class="navbar-nav ms-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/register">Registre-se</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <header>
        {% for category, message in messages %}
        <div class="alert {{ category }} mb-0 text-center" role="alert">

            {{ message }}

        </div>
        {% endfor %}
    </header>
    {% endif %}
    {% endwith %}

    <main class="container-fluid py-5">
        {% block main %}{% endblock %}
    </main>

    <footer class="mb-5 small text-center text-muted">
        <a href="https://www.github.com/eng-david" target="_blank">GEE - Gerenciador de Estudos Elétricos</a>
    </footer>

</body>

</html>