{% extends "layout.html" %}

{% block title %}
Perfis
{% endblock %}

{% block main %}

<div>
    <table style="width:100%">
        <thead>
            <tr>
                <th class="text-start">
                    <h1>Perfis elétricos:</h1>
                </th>
                <th class="text-end"><a class="btn btn-primary" href="/profile">Novo Perfil</a></th>
            </tr>
        </thead>
    </table>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Nome</th>
                <th class="text-end">Data de Criação</th>
                <th class="text-end">Data de Modificação</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in profilesList %}
            <tr>
                <td class="text-start">{{ profile.name }}</td>
                <td class="text-end">{{ profile.createddate }}</td>
                <td class="text-end">{{ profile.modifieddate }}</td>
                <td class="text-end"><a href="/duplicate?id={{profile.id}}&ob=profile">duplicar</a></td>
                <td class="text-end"><a href="/profile?id={{profile.id}}">editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</div>
{% endblock %}