{% extends "layout.html" %}

{% block title %}
Menu de Usuário
{% endblock %}

{% block main %}

<script>

    function showDeleteForm() {
        var x = document.getElementById("deleteForm");
        x.style.display = "block"

    }

    function showDeletionAlert() {
        // if (confirm("Tem certeza? todos os seus projetos serão deletados")) {
        //     document.forms['delete'].submit();
        //  }
        var x = document.getElementById("deletionAlert");
        x.style.display = "block"
    }

    function deleteAccountFormSubmit(){
        document.forms['delete'].submit();
    }

</script>



<div class="mb-3 text-center">
    <div class="mb-3">
        <h1>Olá, {{ session["username"] }}</h1>
    </div>
    <div class="mb-3">
        <a class="btn btn-primary" href="/changepassword">Alterar Senha</a>
    </div>
    <div class="mb-3">
        <a class="btn btn-primary" onclick="showDeleteForm()">Deletar Conta</a>
    </div>
    
    <div id="deleteForm" class="mb-3" style="display: none;">
        <h6>Digite a sua senha:</h6>
        <form name="delete" action="/deleteaccount" method="post">
            <input placeholder="senha" id="inputPass" type="password" name="password" />
            <a class="btn btn-danger" onclick="showDeletionAlert()">Deletar Conta</a>
        </form>
    </div>

    <div id="deletionAlert" style="display: none;">
        <h6>Tem certeza? todos os seus projetos serão deletados.</h6>
        <a class="btn btn-danger" onclick="deleteAccountFormSubmit()">Deletar Conta</a>
    </div>

</div>

{% endblock %}